<div class="col-md-4">

  <!-- Card -->
  <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

    <!-- Image -->
    <div class="rounded-top-left crop">
      <img class="card-img-top" src="@@image" alt="...">
    </div>

    <!-- Shape -->
    <div class="position-relative">
      <div class="shape shape-fluid-x shape-top text-white">
        <div class="shape-img pb-5">
          @@include("../partials/shapes/angles/angle-top-right.svg")
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="card-body">

      <!-- Heading -->
      <h2 class="mb-2">
        @@title
      </h2>

      <!-- Text -->
      <p class="font-size-sm mb-4">
        @@description
      </p>

      <!-- Footer -->
      <div class="d-flex align-items-center">

        <!-- Avatar -->
        <div class="avatar avatar-xs">
          <img class="avatar-img rounded-circle" src="@@authorImage" alt="...">
        </div>

        <!-- Body -->
        <div class="ml-4 text-left">

          <!-- Title -->
          <p class="small mb-0">
            @@author
          </p>

          <!-- Position -->
          <p class="small text-muted mt-n1 mb-0">
            @@date
          </p>

        </div>

      </div>

      <!-- Link -->
      <a class="stretched-link" href="@@url"></a>

    </div>
  </div>

</div>