<!-- CTA -->
<section class="@@classList">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-12">

        <!-- Divider -->
        <hr class="border-gray-900 mt-0 mb-8">

      </div>
      <div class="col-md">

        <!-- Heading -->
        <h1 class="text-white mb-0">
          Join the <span class="text-warning">community</span>
        </h1>

        <!-- Text -->
        <p class="text-white-60 mb-4 mb-md-0">
          Receive occasional updates, never spam.
        </p>

      </div>
      <div class="col-md-4">

        <!-- Form -->
        <form id="footer_email">
          <input class="form-control" type="email" id="email" placeholder="Email address">
          <p class="text-white-60" id="confirm_submission"></p>
        </form>

      </div>
      <div class="col-12">

        <!-- Divider -->
        <hr class="border-gray-900 mb-0 mt-8">

      </div>
    </div>
  </div>
</section>