<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@if(type=='boxed'){container}@@if(type!=='boxed'){container-fluid}">

    <!-- Brand -->
    <a class="navbar-brand text-uppercase" href="@@webRoot/">
      <!-- Ryan Seamons -->
      <!-- <img src="@@webRoot/assets/img/full-signature.svg" class="navbar-brand-img signature-color" alt="..."> -->
      Deliberate Family
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
<!--       <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link" id="navbarLandings" href="articles">
            Articles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarLandings" href="vault">
            The Vault
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarLandings" href="events">
            Events
          </a>
        </li>
      </ul> -->

      <!-- Button -->
      <a class="ml-auto text-uppercase" href="https://www.instagram.com/deliberatefamily/" target="_blank">
        Follow Us On Instagram →
      </a>

    </div>

  </div>
</nav>
